<!doctype html>
<html lang="et">
<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
    <title th:text="#{title.error}"></title>
    <link rel="stylesheet" th:href="@{css/flatpickr.min.css}"></link>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"></link>
</head>
<body>
<div class="container">
    <div class="row my-1">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active"
                           href="/"
                           th:text="#{register}"
                        ></a>
                        <a class="nav-item nav-link"
                           href="/registrations"
                           th:text="#{register.list}"
                        ></a>
                    </div>
                    <div class="navbar-nav ml-auto">
                        <a class="nav-item nav-link" th:href="@{/error(lang='et')}">EST</a>
                        <a class="nav-item nav-link" th:href="@{/error(lang='en')}">ENG</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row my-1">
        <div class="col">
            <div class="jumbotron">
                <h1 class="display-4" th:text="#{error.big}"></h1>
                <p class="lead" th:text="#{error.med}"></p>
                <a class="btn btn-primary btn-lg"
                   th:text="#{text.register}"
                   th:href="@{/}"
                ></a>
                <span th:text="#{text.or}"></span>
                <a class="btn btn-primary btn-lg"
                   th:text="#{text.view}"
                   th:href="@{/registrations}"
                ></a>
            </div>
        </div>
    </div>
</div>
<script th:src="@{js/jquery-3.3.1.slim.min.js}"></script>
<script th:src="@{js/popper.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}" ></script>
</body>
</html>